{% extends "app/base.html" %}
{# This loginuser.html will serve to provide a user with #}
{% block content %}

<h2>{{ title }}</h2>

{% if form.errors %}
<p>Invalid email. Please try again</p>
{% endif %}

{% if error %}
<ul class="errorlist">
    <li>{{ error }}</li>
</ul>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {# Tokenize for cross site request forgery prevention #}
    {% csrf_token %}
    <table>
    <tr> 
        <td>{{ form.email.label }}</td>
        <td>{{ form.email }}</td>
    </tr>
    </table>

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{next}}" />
      
</form>
{# calls register from URLconf #}
<p><a href="{% url 'register' %}">New User? Register!</a></p>


{% endblock %}

